asyncpg
boto3
fastapi
mangum
langchain
langchain-community
langchain-groq
langchain-openai
langgraph
langgraph-checkpoint-postgres
langgraph-checkpoint-redis
psycopg[binary]
pydantic
pydantic[email]
pydantic-settings
python-dotenv
python-jose
redis
requests
sqlalchemy
structlog
tenacity
uvicorn
langgraph-checkpoint-aws